# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
main

# Environment files
.env
.env.*

# MongoDB data
data/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Docker volumes
mongodb_data/

# Log files
*.log

# Test binary, built with 'go test -c'
*.test

# Output of the go coverage tool
*.out

# AWS Keys
*.pem